@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fcfbf9;
  color: #2c221e;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfbf9;
  color: #2c221e;
  -webkit-font-smoothing: antialiased;
}
